{% extends 'base.html' %}
{% load static %}
{%block content%}
    <!-- Page Area Start Here -->
    <div class="dashboard-page-one">
        {% include 'sidebar.html' %}
        <div class="dashboard-content-one">
            <!-- Breadcubs Area Start Here -->
            <div class="breadcrumbs-area">
                <h3>Dashboard</h3>
                <ul>
                    <li>
                        <a href="{% url 'homepage' %}">Home</a>
                    </li>
                    <li>Change Password</li>
                </ul>
            </div>
            <!-- Breadcubs Area End Here -->
            <!-- Group table area start here-->
            <div class="card height-auto">
                <div class="card-body">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <h3>Change Password</h3>
                        </div>
                    </div>
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    {%endif%}
                    <form action="" method="POST" class="login-form">
                        {% csrf_token%}
                        <div class="form-row">
                        {% for form_field in form %}
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form_field.label_tag }}
                                    {{ form_field }}
                                    {% if form_field.help_text %}
                                        <small class="form-text text-muted">{{ form_field.help_text }}</small>
                                    {% endif %}
                                    {% if form_field.errors %}
                                        <small class="text-danger">
                                            {% for error in form_field.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        <div class="form-group mg-t-8 text-right">
                            <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark mr-3">Change Password</button>
                            <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Group table area end here-->
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags %}
                    <div class="alert alert-success {{ message.tags }}" role="alert">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{%endblock%}
{%block js%}
{%endblock%}