{% extends 'base.html' %}
{% load static %}
{%block content%}
    <!-- Page Area Start Here -->
    <div class="dashboard-page-one">
        {% include 'sidebar.html' %}
        <div class="dashboard-content-one">
            <!-- Breadcubs Area Start Here -->
            <div class="breadcrumbs-area">
                <h3>Admin Dashboard</h3>
                <ul>
                    <li>
                        <a href="{% url 'homepage' %}">Home</a>
                    </li>
                    <li>Admin</li>
                </ul>
            </div>
            <!-- Breadcubs Area End Here -->
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags %}
                    <div class="alert alert-success {{ message.tags }}" role="alert">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="card height-auto">
                <div class="card-body">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <h3>Dashboard</h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{%endblock%}