{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load custom_tags %}
{%block content%}
    <!-- Page Area Start Here -->
    <div class="dashboard-page-one">
        {% include 'sidebar.html' %}
        <div class="dashboard-content-one">
            <!-- Breadcubs Area Start Here -->
            <div class="breadcrumbs-area">
                <h3>Fees</h3>
                <ul>
                    <li>
                        <a href="{% url 'homepage' %}">Home</a>
                    </li>
                    <li>Fee Register</li>
                </ul>
            </div>
            <!-- Breadcubs Area End Here -->
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags %}
                    <div class="alert alert-success {{ message.tags }}" role="alert">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <!-- Group table area start here-->
            <div class="card height-auto">
                <div class="card-body">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <h3>Fee Register</h3>
                        </div>
                    </div>
                    <form action="{% url 'student search' %}" method="post" class="new-added-form mg-b-20" id="studentSearchForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row gutters-8">
                            <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                {{ form.class_id }}
                                {% for error in form.class_id.errors%}
                                <small class="text-danger">{{error}}</small>
                                {%endfor%}
                            </div>
                            <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
                                {{ form.phone_number }}
                                {% for error in form.phone_number.errors%}
                                <small class="text-danger">{{error}}</small>
                                {%endfor%}
                            </div>
                            <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                {{ form.name }}
                                {% for error in form.name.errors%}
                                <small class="text-danger">{{error}}</small>
                                {%endfor%}
                            </div>
                            <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                                <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table display data-table text-nowrap">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>
                                    <th>Student Name</th>
                                    <th>Student Class</th>
                                    <th>Phone Number</th>
                                    <th>Jan</th>
                                    <th>Feb</th>
                                    <th>Mar</th>
                                    <th>Apr</th>
                                    <th>May</th>
                                    <th>Jun</th>
                                    <th>Jul</th>
                                    <th>Aug</th>
                                    <th>Sep</th>
                                    <th>Oct</th>
                                    <th>Nov</th>
                                    <th>Dec</th>
                                    <th>Admission Fee</th>
                                    <th>First quarter exam fee</th>
                                    <th>Half year exam fee</th>
                                    <th>Second quarter exam fee</th>
                                    <th>Annual year exam fee</th>
                                    <th>Board registration fee</th>
                                    <th>Board fee</th>
                                    <th>Admit card fee</th>
                                    <th>Practical 1 fee</th>
                                    <th>Practical 2 fee</th>
                                    <th>Practical 3 fee</th>
                                    <th>Practical 4 fee</th>
                                </tr>
                            </thead>
                            <tbody id="searchResults">
                            {% for payment_detail in payment_details%}
                            <tr class="text-center">
                                <td>{{forloop.counter}}</td>
                                <td><a href="{% url 'fee payment' payment_detail.fee_id %}">{{payment_detail.student_id}}</a></td>
                                <td>{{payment_detail.class_id}}</td>
                                <td>{{payment_detail.phone_number}}</td>
                                    {% with fee_status=fee_status_dict|get_item:payment_detail.fee_id %}
                                        {% for month in months_range %}
                                            {% with monthly_fee_status=fee_status|get_item:"monthly_fee_status" %}
                                                {% if month <= monthly_fee_status|get_item:"months_paid"|to_float %}
                                                    <td><span class="text-success font-bold">Paid</span></td>
                                                {% elif month == monthly_fee_status|get_item:"months_paid"|add:"1" and monthly_fee_status|get_item:"remaining_amount"|to_float > 0 %}
                                                    <td><span class="text-danger font-bold">{{ monthly_fee_status|get_item:"remaining_amount" }}</span></td>
                                                {% else %}
                                                    <td></td>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                        <!-- Fee status columns -->
                                        <td>{{ fee_status|get_item:"admission_fee_status" | safe }}</td>
                                        <td>{{ fee_status|get_item:"first_quarter_exam_fee_status" | safe }}</td>
                                        <td>{{ fee_status|get_item:"half_year_exam_fee_status" | safe }}</td>
                                        <td>{{ fee_status|get_item:"second_quarter_exam_fee_status" | safe }}</td>
                                        <td>{{ fee_status|get_item:"annual_exam_fee_status" | safe }}</td>
                                        <td>{{ fee_status|get_item:"board_reg_fee_status" | safe }}</td>
                                        <td>{{ fee_status|get_item:"board_fee_status" | safe }}</td>
                                        <td>{{ fee_status|get_item:"admit_card_fee_status" | safe }}</td>
                                        <td>{{ fee_status|get_item:"practical_1_fee_status" | safe }}</td>
                                        <td>{{ fee_status|get_item:"practical_2_fee_status" | safe }}</td>
                                        <td>{{ fee_status|get_item:"practical_3_fee_status" | safe }}</td>
                                        <td>{{ fee_status|get_item:"practical_4_fee_status" | safe }}</td>
                                    {% endwith %}

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <div class="box-data">
                    <span class="d-inline-block" style="background-color: #dc3545;"></span> For Remaining amount.
                </div>
                <div class="box-data">
                    <span class="d-inline-block" style="background-color: #28a745;"></span> For paid amount.
                </div>
                <div class="box-data">
                    <span class="d-inline-block" style="background-color: #ffc107;"></span> For Remaining amount.
                </div>
            </div>
            <!-- Group table area end here-->
            <div class="mt-3" id="message"></div>
        </div>
    </div>
{%endblock%}
{%block js%}
<script>
    $(document).ready(function() {
        $('#studentSearchForm').on('submit', function(e) {
            e.preventDefault();  // Prevent the default form submission
            var formData = $(this).serialize();
            
            $.ajax({
                url: $(this).attr('action'),
                type: 'GET',
                data: formData,
                dataType: 'json',
                success: function(response) {       
                    // Destroy the old DataTable instance if it exists
                    if ($.fn.DataTable.isDataTable('.data-table')) {
                        $('.data-table').DataTable().destroy();
                    }             
                    // Clear previous data
                    $('#searchResults').empty();

                    if (response.students.length > 0) {
                        $.each(response.students, function(index, student) {
                            $('#searchResults').append(
                                '<tr>' +
                                    '<td>' + (index + 1) + '</td>' +
                                    '<td>' + student.first_name + ' ' + student.last_name + '</td>' +
                                    '<td>' + student.father_name + '</td>' +
                                    '<td>' + (student.mother_name || 'N/A') + '</td>' +  // Handle null values
                                    '<td>' + (student.aadhar_number || 'N/A') + '</td>' +  // Handle null values
                                    '<td>' + student.admission_class__class_name + '</td>' +
                                    '<td>' + student.DOB + '</td>' +  // Use DOB field
                                    '<td>' + (student.is_active ? '<img src="/static/img/icon-yes.svg" alt="Status Image">' : '<img src="/static/img/icon-no.svg" alt="Status Image">') + '</td>' +  // Status icon
                                    '<td class="text-center">' +
                                        '<a href="/fee-payment/' + student.id + '" class="btn btn-primary mr-3 btn-lg"><i class="fas fa-handshake"></i> Pay Fee</a>' +
                                    '</td>' +
                                '</tr>'
                            );
                        });

                        // Reinitialize DataTable after appending data
                        $('.data-table').DataTable({
                            paging: true,
                            searching: false,
                            info: true,
                            lengthChange: true,
                            lengthMenu: [10, 20, 50, 75, 100],
                            columnDefs: [{
                                targets: [0, -1], // column or columns numbers
                                orderable: true // set orderable for selected columns
                            }],
                            dom: 'Bfrtip'
                        });
                    } else {
                        $('#searchResults').append('<tr class="text-center"><td colspan="9">No students found</td></tr>');
                    }
                },
                error: function(xhr, status, error) {
                    // Handle errors
                    alert('Error: ' + error);
                }
            });
        });
    });

</script>
    
{%endblock%}