{% load static %}
<!-- jquery-->
<script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
<!-- Plugins js -->
<script src="{% static 'js/plugins.js'%}"></script>
<!-- Popper js -->
<script src="{% static 'js/popper.min.js'%}"></script>
<!-- Bootstrap js -->
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js"></script>
<!-- Scroll Up Js -->
<script src="{% static 'js/jquery.scrollUp.min.js'%}"></script>
<script src="{% static 'js/select2.min.js'%}"></script>
<!-- Scroll Up Js -->
<script src="{% static 'js/jquery.dataTables.min.js'%}"></script>
<!-- Custom Js -->
<script src="{% static 'js/main.js'%}"></script>