{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Login Page Start Here -->
<div class="login-page-wrap">
    <div class="login-page-content">
        <div class="login-box">
            <div class="item-logo">
                <img src="{% static 'img/logo2.png' %}" alt="logo">
            </div>
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
            <form action="" method="post" class="login-form">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {% if form.username.help_text %}
                        <small class="form-text text-muted">{{ form.username.help_text }}</small>
                    {% endif %}
                    {% if form.username.errors %}
                        <small class="text-danger">
                            {% for error in form.username.errors %}
                                {{ error }}
                            {% endfor %}
                        </small>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    {% if form.password.help_text %}
                        <small class="form-text text-muted">{{ form.password.help_text }}</small>
                    {% endif %}
                    {% if form.password.errors %}
                        <small class="text-danger">
                            {% for error in form.password.errors %}
                                {{ error }}
                            {% endfor %}
                        </small>
                    {% endif %}
                </div>
                <div class="form-group d-flex align-items-center justify-content-end">
                    <a href="{% url 'password_reset' %}" class="forgot-btn">Forgot Password?</a>
                </div>
                <!-- Submit Button -->
                <div class="form-group">
                    <button type="submit" class="login-btn">Login</button>
                </div>
            </form>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <div {% if message.tags %} class="alert {{ message.tags }}"{% endif %}>{{ message }}</div>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
<!-- Login Page End Here -->
{% endblock %}
