{% extends 'base.html' %}
{% load static %}
{%block content%}
<!-- Login Page Start Here -->
    <div class="login-page-wrap">
        <div class="login-page-content">
            <div class="login-box">
                <div class="item-logo">
                    <img src="{% static 'img/logo2.png'%}" alt="logo">
                </div>
                {% if form.non_field_errors %}
			{% for error in form.non_field_errors %}
			<div class="alert alert-danger">{{ error }}</div>
			{% endfor %}
			{%endif%}
			<form action="" method="POST" class="login-form">
				{% csrf_token%}
				<div class="form-group">
					<label for={{ form.id_for_label }}>{{ form.email.label }}</label>
					{{form.email}}
					<i class="far fa-envelope"></i>
				</div>
				{% if form.email.help_text %}
					<small class="form-text text-muted">{{ form.email.help_text }}</small>
				{% endif %}
				{%for error in form.email.errors%}
				<small class="text-danger">{{error}}</small>
				{%endfor%}
				<div class="form-group">
					<button type="submit" class="login-btn">Send Email</button>
				</div>
			</form>
                {% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
            </div>
        </div>
    </div>
    <!-- Login Page End Here -->
{%endblock%}