{% extends 'base.html' %}
{% load static %}
{%block content%}
<!-- Login Page Start Here -->
    <div class="login-page-wrap">
        <div class="login-page-content">
            <div class="login-box">
                <div class="item-logo">
                    <img src="{% static 'img/logo2.png'%}" alt="logo">
                </div>
                <h2 class="text-center">Well Done!</h2>
                <p>An email has been sent with instructions to reset your password. <b>Check your email.</b></p>
            </div>
        </div>
    </div>
    <!-- Login Page End Here -->
{%endblock%}