{% extends 'base.html' %}
{% load static %}
{%block content%}
    <!-- Page Area Start Here -->
    <div class="dashboard-page-one">
        {% include 'sidebar.html' %}
        <div class="dashboard-content-one">
            <!-- Breadcubs Area Start Here -->
            <div class="breadcrumbs-area">
                <h3>Admin Dashboard</h3>
                <ul>
                    <li>
                        <a href="{% url 'homepage' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'teachers' %}">Teacher</a>
                    </li>
                    <li>Teachers View</li>
                </ul>
            </div>
            <div class="card height-auto">
                <div class="card-body">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <h3>Teacher View</h3>
                        </div>
                    </div>
                    <div class="single-info-details">
                        <div class="item-img">
                            <img src="{{teacher_det.profile_photo.url}}" width="100" height="100" class="profile-photo" alt="teacher">
                        </div>
                        <div class="item-content">
                            <div class="header-inline item-header">
                                <h3 class="text-dark-medium font-medium">{{teacher_det.first_name}} {{teacher_det.last_name}}</h3>
                            </div>
                            <div class="info-table table-responsive">
                                <table class="table text-nowrap">
                                    <tbody>
                                        <tr>
                                            <td>ID No:</td>
                                            <td class="font-medium text-dark-medium">{{teacher_det.id}}</td>
                                        </tr>
                                        <tr>
                                            <td>Name:</td>
                                            <td class="font-medium text-dark-medium">{{teacher_det.first_name}} {{teacher_det.last_name}}</td>
                                        </tr>
                                        <tr>
                                            <td>Mother Name:</td>
                                            <td class="font-medium text-dark-medium">{{teacher_det.mother_name}}</td>
                                        </tr>
                                        <tr>
                                            <td>Father Name:</td>
                                            <td class="font-medium text-dark-medium">{{teacher_det.father_name}}</td>
                                        </tr>
                                        <tr>
                                            <td>Phone No.:</td>
                                            <td class="font-medium text-dark-medium">{{teacher_det.phone_number}}</td>
                                        </tr>
                                        <tr>
                                            <td>E-mail:</td>
                                            <td class="font-medium text-dark-medium">{{teacher_det.email}}</td>
                                        </tr>
                                        <tr>
                                            <td>Aadhar Card:</td>
                                            <td class="font-medium text-dark-medium">{{teacher_det.aadhar_number}}</td>
                                        </tr>
                                        <tr>
                                            <td>Gender:</td>
                                            <td class="font-medium text-dark-medium">{{teacher_det.gender}}</td>
                                        </tr>
                                        <tr>
                                            <td>Permanent Address:</td>
                                            <td class="font-medium text-dark-medium">{{teacher_det.per_house_no}}, {{teacher_det.per_landmark}}, {{teacher_det.per_city_or_village}},{{teacher_det.per_pincode}}, {{teacher_det.per_district}}, {{teacher_det.per_state}}</td>
                                        </tr>
                                        <tr>
                                            <td>Correspondence Address:</td>
                                            <td class="font-medium text-dark-medium">{{teacher_det.cor_house_no}}, {{teacher_det.cor_landmark}}, {{teacher_det.cor_city_or_village}},{{teacher_det.cor_pincode}}, {{teacher_det.cor_district}}, {{teacher_det.cor_state}}</td>
                                        </tr>
                                        <tr>
                                            <td>Nationality:</td>
                                            <td class="font-medium text-dark-medium">{{teacher_det.nationality}}</td>
                                        </tr>
                                        <tr>
                                            <td>Religion:</td>
                                            <td class="font-medium text-dark-medium">{{teacher_det.religion}}</td>
                                        </tr>
                                        <tr>
                                            <td>Category:</td>
                                            <td class="font-medium text-dark-medium">{{teacher_det.category}}</td>
                                        </tr>
                                        <tr>
                                            <td>Subject:</td>
                                            <td class="font-medium text-dark-medium">{{teacher_det.subject}}</td>
                                        </tr>
                                        <tr>
                                            <td>Joining Date:</td>
                                            <td class="font-medium text-dark-medium">{{teacher_det.joining_date}}</td>
                                        </tr>
                                        <tr>
                                            <td>Pan Card:</td>
                                            <td class="font-medium text-dark-medium">{{teacher_det.pan_card}}</td>
                                        </tr>
                                        <tr>
                                            <td>Bank Name:</td>
                                            <td class="font-medium text-dark-medium">{{teacher_det.bank_name}}</td>
                                        </tr>
                                        <tr>
                                            <td>Bank Account No.:</td>
                                            <td class="font-medium text-dark-medium">{{teacher_det.bank_account_no}}</td>
                                        </tr>
                                        <tr>
                                            <td>IFSC Code:</td>
                                            <td class="font-medium text-dark-medium">{{teacher_det.ifsc_code}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Group table area end here-->
            <div class="mt-3" id="message"></div>
        </div>
    </div>
{%endblock%}
{%block js%}
{%endblock%}